// Custom Checkbox
// ==========================
//

.custom-radio {
	text-align: left;

	input {
		position: absolute;
		z-index: -1;
		opacity: 0;


		&:checked + label:before {
			border-color: $primary-color;
		}

		&:disabled + label {
			opacity: .5;
		}

		&:disabled + label:before {
			opacity: .5;
		}

		&:checked + label:after {
			display: block;
		}
	}

	input + label {
		position: relative;
		padding-top: 2px;
		padding-left:  $global-padding / 1.5;
		margin: 0;
		text-transform: none;
		font-weight: normal;
		text-align: left;
		cursor: pointer;


		&:before {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			top: 0;
  		vertical-align: middle;
  		width: 20px;
  		height: 20px;
  		border-radius: 100%;
  		background: transparent;
  		border: 2px solid $dark-gray;
  		transition: $global-transition;
		}

		&:after {
			display: none;
			content: '';
  		position: absolute;
  		left: 5px;
  		top: 5px;
  		width: 14px;
  		height: 14px;
  		border-radius: 100%;
  		background-color: $primary-color;
		}
	}
}