// Filter Price
// ==========================
//

.filter-price__item {
	margin-bottom: $global-margin / 4;
	text-align: left;

	input {
		position: absolute;
		z-index: -1;
		opacity: 0;


		&:checked + label:before {
			background-color: $primary-color;
			border-color: $primary-color;
		}

		&:disabled + label {
			opacity: .5;
		}

		&:disabled + label:before {
			opacity: .5;
		}

		&:checked + label:after {
			display: block;
		}
	}

	input + label {
		position: relative;
		padding-top: 2px;
		padding-left: $global-padding / 3 + 18px;
		margin: 0;
		text-transform: none;
		font-weight: normal;
		text-align: left;
		cursor: pointer;


		&:before {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			top: 0;
  		vertical-align: middle;
  		width: 18px;
  		height: 18px;
  		border-radius: $global-radius;
  		background: transparent;
  		border: 2px solid $medium-gray;
  		transition: $global-transition;
		}

		&:after {
			display: none;
			content: '';
  		position: absolute;
  		left: 6px;
  		top: 1px;
  		width: 8px;
  		height: 12px;
  		border: solid $white;
  		border-width: 0 2px 2px 0;;
  		transform: rotate(45deg);
		}
	}
}



