// Orders Table
// ==========================
//

.orders-table {
	display: block;
	width: span(12);
	position: relative;
	margin-bottom: $global-margin;
}

.orders-table__heading {
	display: none;
}

.orders-table__body {
	display: block;
}

.orders-table__row {
	display: block;
	border-bottom: 1px solid $medium-gray;
}

.orders-table__cell {
	position: relative;
	padding: $global-padding / 2 0;
	display: block;
	width: span(12);
	padding-left: span(5);


	&:before {
		content: attr(data-label);
    display: block;
    position: absolute;
    width: span(4);
    left: 0;
    @include heading();
    color: $black;
    font-size: $global-font-size;
	}
}

.orders-table__product-name {
	@include heading();
	display: block;
	margin: 0;
	margin-bottom: $global-margin / 8;
	font-size: 1.6rem;
	color: $primary-color;
	transition: $global-transition;

	&:hover {
		color: $black;
	}
}

.orders-table__text {
	margin: 0;
	// margin-bottom: $global-margin / 8;
	display: block;
	color: $black;
}

.orders-table__lnk {
	display: block;
	font-size: 1.5rem;
	color: $primary-color;
	transition: $global-transition;
	text-decoration: none;

	&:hover {
		color: $black;
	}
}

.orders-table__product-price {
	font-size: 1.8rem;
}

.orders-table__status {
	height: 30px;
	padding: 0 $global-padding / 5;
	// width: 60px;
	display: inline-block;
	border-radius: $global-radius;
	text-align: center;
	line-height: 30px;
	color: $white;
	background-color: $primary-color;
}

@include breakpoint(small) {

	.orders-table {
		display: table;
		border-collapse: collapse;
	}
	
	.orders-table__heading {
		display: table-header-group;
		background-color: $light-gray;
	}

	.orders-table__cell-heading {
		padding: $global-padding / 2 $global-padding / 4;
		@include heading();
		text-align: left;
		display: table-cell;
    color: $black;
    font-size: $global-font-size;
	}

	.orders-table__row-heading {
		display: table-row;
	}

	.orders-table__row {
		display: table-row;
	}

	.orders-table__body {
		display: table-row-group;
	}

	.orders-table__cell {
		position: static;
		padding: $global-padding / 2 $global-padding / 4;
		display: table-cell;
		width: auto;

		&:before {
			content: none;
		}

	}

	
}