.cars-page {
  position: relative;
  padding: $global-padding 0;
  background-color: $light-gray;
}

.cars-page__decorative {
  top: -20px;
  left: 0;
  right: 0;
  height: 65px;
  position: absolute;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 150px;
    height: 40px;
    bottom: 19px;
    background-color: $primary-color;
    left: -80px;
    box-shadow: 4px 1px 0 2px $light-gray;
    transform: skew(-58deg, 10deg);
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 150px;
    height: 40px;
    bottom: 19px;
    background-color: $primary-color;
    right: -80px;
    box-shadow: -4px 1px 0 2px $light-gray;
    transform: skew(58deg, -10deg);
  }

}

.cars-page__results-table {
  margin-bottom: $global-margin / 1.5;
}

.cars-page__wrap {
  @include container(420px);
}

.cars-page__items-container {
  margin-bottom: $global-margin / 1.5 - gutter();
}

.cars-page__sold-car-item {
  margin-bottom: gutter();
}

// .cars-page__car-item {
//   margin-bottom: gutter();
// }


@include breakpoint(small) {

  .cars-page {
    padding: $global-padding * 1.5 0;
  }

  .cars-page__decorative {
    top: -26px;
    height: 82px;
  
    &::before {
      content: '';
      width: 160px;
      height: 50px;
      bottom: 20px;
      left: -70px;
    }
  
    &::after {
      width: 160px;
      height: 50px;
      bottom: 20px;
      right: -70px;
    }

    
  
  }

  .cars-page__wrap {
    // @include container(620px);
    @include container(768px);
  }

  .cars-page__items-container {
    display: flex;
    flex-wrap: wrap;
  }

  // .cars-page__car-item {
  //   width: span(6);
  //   margin-right: gutter();

  //   &:nth-child(2n) {
  //     margin-right: 0;
  //   }
  
  // }
  .cars-page__sold-car-item {
    width: span(6);
    margin-right: gutter();

    &:nth-child(2n) {
      margin-right: 0;
    }
  
  }

}

@include breakpoint(large) {

  .cars-page__wrap {
    @include container();

    &--columns {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .cars-page__filter-form {
    width: span(3);
    // width: 380px;
    // margin-right: gutter();
  }

  .cars-page__content {
    width: span(9);
  }

  // .cars-page__items-container {
  //   display: flex;
  //   flex-wrap: wrap;
  // }

  .cars-page__sold-car-item {

    width: span(4);
    margin-right: gutter();

    &:nth-child(2n) {
      margin-right: gutter();
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &--four {
      width: span(3);
      margin-right: gutter();
      &:nth-child(3n) {
        margin-right: gutter();
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

    }

  }
  // .cars-page__car-item {

  //   width: span(4);
  //   margin-right: gutter();

  //   &:nth-child(2n) {
  //     margin-right: gutter();
  //   }

  //   &:nth-child(3n) {
  //     margin-right: 0;
  //   }

  // }

  .cars-page__сar-descr-container {
    display: flex;
    justify-content: space-between;
  }

  .cars-page__сar-info {
    width: span(6);
  }

  .cars-page__gallery {
    width: span(6);
  }

}

@include breakpoint(xlarge) {

  .cars-page {
    padding: $global-padding * 2 0;
  }

  // .cars-page__sold-car-item {

  //   &--four {
  //     width: span(3);
  //     margin-right: gutter();
  //     &:nth-child(3n) {
  //       margin-right: gutter();
  //     }

  //     &:nth-child(4n) {
  //       margin-right: 0;
  //     }

  //   }
  // }





}