.europe-calc {
  padding: $global-padding  0;
  position: relative;
  // background-size: cover;
  // background: rgba($dark-gray, .8);


  // &::before {
  //   content: '';
  //   position: absolute;
  //   display: block;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   z-index: -1;
  //   background: $black url("../img/content/hero-slider/1.jpg") center center no-repeat;
  // }
}

.europe-calc__decorative {
  top: -20px;
  left: 0;
  right: 0;
  height: 65px;
  position: absolute;
  overflow: hidden;

    &::before {
    content: '';
    position: absolute;
    display: block;
    width: 150px;
    height: 40px;
    bottom: 19px;
    background-color: $primary-color;
    left: -80px;
    box-shadow: 4px 1px 0 2px $light-gray;
    transform: skew(-58deg, 10deg);
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 150px;
    height: 40px;
    bottom: 19px;
    background-color: $primary-color;
    right: -80px;
    box-shadow: -4px 1px 0 2px $light-gray;
    transform: skew(58deg, -10deg);
  }

}

.europe-calc__wrap {
  @include container(768px);    
}




@include breakpoint(small) {

  .europe-calc {
    padding: $global-padding * 1.5 0;
  }

  .europe-calc__decorative {
    top: -26px;
    height: 82px;
  
    &::before {
      content: '';
      width: 160px;
      height: 50px;
      bottom: 20px;
      left: -70px;
    }
  
    &::after {
      width: 160px;
      height: 50px;
      bottom: 20px;
      right: -70px;
    }
  
  }

  
}

@include breakpoint(large) {

  .europe-calc__wrap {
    @include container(1200px)
  }

}


@include breakpoint(xlarge) {

  .europe-calc {
    padding: $global-padding * 2 0;
  }

}