// categories Nav
// ==========================
//

.categories-nav {
	margin-bottom: $global-margin;
}

.categories-nav__heading {
	@include heading();
	margin-bottom: $global-margin / 2;
	font-size: 1.8rem;
	text-align: left;
}

.categories-nav__list {
	@include reset-list();
}

.categories-nav__item {
	display: block;
	margin-bottom: $global-margin / 5;

	&:last-child {
		margin-bottom: 0;
	}
}

.categories-nav__item-lnk {
	display: block;
	color: $black;
	transition: $global-transition;

	&:hover {
		color: $primary-color;
	}

	span {
		color: $primary-color;
	}
}
