// .contacts {
//   position: relative;
//   padding-bottom: $global-padding;
//   z-index: 5;
//   margin-top: -100px;
// }

// .contacts__items-container {
//   @include container(400px);
// }

// .contacts__wrap {
//   @include container();
// }

// .contacts__container {
//   margin-bottom: $global-margin / 1.5;
// }

// .contacts__heading {
//   @include sub-heading;
//   color: $black;
//   font-size: 2.2rem;
//   margin-bottom: $global-margin / 3;
// }

// .contacts__text {

//   margin-bottom: $global-margin / 2;

//   *:last-child {
//     margin-bottom: 0;
//   }
// }


// @include breakpoint(xsmall) {

//   .contacts__wrap {
//     @include container(620px);
//   }
  

// }


// @include breakpoint(small) {

//   .contacts {
//     padding-bottom: $global-padding  * 1.5;
//   }

//   .contacts__wrap {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//   }

//   .contacts__items-container {
//     @include container(768px);
//     display: flex;
//     flex-wrap: wrap;
//   }



//   .contacts__contact-item {
//     width: span(6);
//     margin-right: gutter();

//     &:nth-child(2n) {
//       margin-right: 0;
//     }
//   }


// }

// @include breakpoint(medium) {

//   .contacts__wrap {
//     @include container();
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }

//   .contacts__container {
//     margin-bottom: 0;
//     width: span(6);
//   }

//   .contacts__contact-form {
//     width: span(6);
//   }

// }
// @include breakpoint(large) {

//   .contacts__items-container {
//     @include container();
//   }

//   .contacts__contact-item {
//     width: span(3);
//     margin-right: gutter();

//     &:nth-child(2n) {
//       margin-right: gutter();
//     }

//     &:nth-child(4n) {
//       margin-right: 0;
//     }
//   }

// }

// @include breakpoint(xlarge) {

//   .contacts {
//     padding-bottom: $global-padding  * 2 0;
//   }

// }


.contacts {
  padding: $global-padding 0 0;
  background-color: $white;

  // &--gray {
  //   background-color: $light-gray;
  // }
}

.contacts__wrap {
  @include container();
  margin-bottom: $global-margin / 2;
}

.contacts__content {
  max-width: 620px;
  margin: auto;
  margin-bottom: $global-margin / 1.5;
}

// .contacts__contact-item {
//   margin-bottom: $global-margin / 1.5;
// }


// .contacts__map {
//   display: block;
//   width: 100%;
//   height: 500px;
// }

.contacts__items-container {
  // margin-bottom: $global-margin - $global-margin / 1.5;
}

.contacts__social {
  margin-bottom: $global-margin;
}

.contacts__map-container {
  width: 100%;
  height: 100%;
  height: 500px;
}

.contacts__heading {
  @include sub-heading;
  color: $black;
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-bottom: $global-margin / 3;
}

.contacts__text {

  margin-bottom: $global-margin / 1.5;

  *:last-child {
    margin-bottom: 0;
  }
}

@include breakpoint(small) {
  
  .contacts {
    padding: $global-padding * 1.5 0 0;
  }

  .contacts__items-container {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__contact-item {
    width: span(6);
    margin-right: gutter();

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  .contacts__heading {
    font-size: 3.4rem;
  }

}

@include breakpoint(large) {

  .contacts {
    position: relative;
    padding-bottom: $global-padding * 1.5;
  }

  .contacts__wrap {
    @include container();
  }

  .contacts__content {
    width: span(6);
    margin: 0;
    max-width: 100%;
  }

  .contacts__map {
    width: span(6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    
  }

  .contacts__map-container {
    width: 100%;
    height: 100%;
  }
}

@include breakpoint(xlarge) {
  
  .contacts {
    padding: $global-padding * 2 0;
  }

}