.hero-slider {
  // margin-bottom: gutter();
}

.hero-slider__item {
  position: relative;
  width: 100%;
  // padding: $global-padding * 5 0;
  // padding: $global-padding * 3.5 0;
  padding: $global-padding * 4 0;

}

.hero-slider__item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transform: scale(1.3);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $black;

  &--small {
    display: block;
  }

  &--medium {
    display: none;
  }

  &--large {
    display: none;
  }
}


.hero-slider__item.slick-active .hero-slider__item-img {
  transform: scale(1);
  animation: grow 8s 1 ease-in-out forwards;
}

.hero-slider__container {
  @include center-y();
  left: 0;
  right: 0;
  padding: $global-padding * 1.5 0 $global-padding;
}

.hero-slider__caption {
  @include container();
}

.hero-slider__heading {
  @include heading();
  margin-bottom: $global-margin / 3;
  color: $white;
  font-size: 2.8rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px rgba($dark-gray, .35), -1px -1px rgba($dark-gray, .35), 1px 1px rgba($dark-gray, .35);
}

.hero-slider__descr {
  display: block;
  color: $white;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: $global-margin / 1.5;
  text-shadow: 0px 0px 3px rgba($dark-gray, .35), -1px -1px rgba($dark-gray, .35), 1px 1px rgba($dark-gray, .35);
}

@keyframes grow {
  from {
    transform: scale(1) translate(0px);
  }
  to {
    transform: scale(1.3) translate(0px);
  }
}

@include breakpoint(xsmall) {

  .hero-slider__item {
    // padding: $global-padding * 5.5 0;
    padding: $global-padding * 5 0;
  }

  .hero-slider__heading {
    font-size: 4rem;
  }

  .hero-slider__descr {
    font-size: 2rem;
  }

  .hero-slider__item-img {

    &--small {
      display: none;
    }

    &--medium {
      display: block;
    }

    &--large {
      display: none;
    }
  }

}


@include breakpoint(small) {

  .hero-slider__container {
    padding: $global-padding * 2.5 0 $global-padding;
  }

  .hero-slider__heading {
    font-size: 5.2rem;
  }

  .hero-slider__descr {
    font-size: 2.6rem;
  }

  .hero-slider__item {
    // padding: $global-padding * 10 0 $global-padding * 2;
    // padding: $global-padding * 5.5 0;
    padding: $global-padding * 6 0;
  }

  
}

@include breakpoint(medium) {


  .hero-slider__item {
    // padding: $global-padding * 6 0;
    padding: $global-padding * 6.5 0;
  }

  .hero-slider__heading {
    font-size: 6rem;
  }

  .hero-slider__caption {
    padding-right: span(3);
  }

}

@include breakpoint(large) {

  .hero-slider__heading {
    font-size: 7.2rem;
  }

  .hero-slider__item {
    padding: $global-padding * 7 0;
    // padding: $global-padding * 8.5 0;
  }

  .hero-slider__item-img {

    &--small {
      display: none;
    }

    &--medium {
      display: none;
    }

    &--large {
      display: block;
    }
  }

}

@include breakpoint(xlarge) {

  .hero-slider__item {
    padding: $global-padding * 8 0;
  }
}