.hero-block {
  padding: $global-padding * 2.5 0 $global-padding * 1.5;
  background: $black url("../img/hero-block-bg.jpg") no-repeat center bottom scroll;
  background-size: cover;
}

.hero-block__wrap {
  @include container();
}

@include breakpoint(small) {

  .hero-block {
    padding: $global-padding * 4.5 0 $global-padding * 1.5;
  }

}

@include breakpoint(xlarge) {

  .hero-block {
    padding: $global-padding * 5 0 $global-padding * 2;
  }

}