// Info Bar
// ==========================
//

.info-bar {
	margin: 0;
	color: $dark-gray;
	margin-bottom: $global-margin;
}

@include breakpoint(small) {

	.info-bar {
		flex: 0 1 auto;
		margin-bottom: 0;
		order: 2;
	}

}