// last-galleries
// ==========================
//

.last-galleries {
  background-color: $white;
  margin-bottom: 0;
}

.last-galleries__heading {
  @include sub-heading();
	text-align: left;
  padding: $global-padding / 3 gutter() / 2;
  color: $white;
  text-transform: uppercase;
	font-size: 2rem;
	background-color: $secondary-color;
}

.last-galleries__item {
  display: block;
  text-decoration: none;
  padding: $global-padding / 2 gutter() / 2;
  border-bottom: 1px solid $global-border-color;

  &:last-child {
    border-bottom: none;
  }
}

.last-galleries__item-img {
  display: none;
}

.last-galleries__item-text {
  display: block;
  text-decoration: none;
}

.last-galleries__item-heading {
  @include sub-heading();
  margin-bottom: $global-margin / 10;
  color: $sub-heading-color;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  transition: $global-transition;
  
  &:hover {
    text-decoration: none;
    color: $primary-color;
  }
}

.last-galleries__item-date {
  display: block;
  color: $medium-gray;
}

// .last-galleries__item {
//   display: block;
//   text-decoration: none;
//   padding: $global-padding / 2 gutter() / 2;
//   border-bottom: 1px solid $global-border-color;
  

//   &:last-child {
//     border-bottom: none;
//   }

//   img {
//     display: none;
//   }
// }

// .last-galleries__item-heading {
//   @include sub-heading();
//   color: $sub-heading-color;
//   text-transform: uppercase;
//   text-decoration: none;
//   font-size: 1.8rem;
//   transition: $global-transition;
  
//   &:hover {
//     text-decoration: none;
//     color: $primary-color;
//   }
// }

//////////////////////////////////////////////////

// .last-galleries__item {
//   display: flex;
//   flex-wrap: wrap;
//   padding: $global-padding / 2 gutter() / 2;
//   border-bottom: 1px solid $global-border-color;
  

//   &:last-child {
//     border-bottom: none;
//   }
// }



// .last-galleries__img {
//   display: block;
//   margin-right: gutter() / 2;
//   width: span(5);
//   flex: 0 1 auto;
  
//   img {
//     @include responsive-img();
//   }
// }

// .last-galleries__item-heading {
//   @include sub-heading();
//   margin-bottom: $global-margin / 5;
//   color: $sub-heading-color;
//   text-transform: uppercase;
//   text-decoration: none;
//   font-size: 1.8rem;
//   transition: $global-transition;
  
//   &:hover {
//     text-decoration: none;
//     color: $primary-color;
//   }
// }



// .last-galleries__item-date {
//   display: block;
//   color: $medium-gray;
// }
//////////////////////////////////
@include breakpoint(small) {

  .last-galleries__heading {
    padding: $global-padding / 2 gutter() / 2;
    font-size: 2.2rem;
  }

  .last-galleries__container {
    display: flex;
    flex-wrap: wrap;
    padding: $global-padding / 2 gutter() / 2;
  }
  
  .last-galleries__item {
    position: relative;
    border: none;
    padding: 0;
    // width: 50%;
    width: 33.33%;
    display: block;  

    &:hover {

      .last-galleries__item-img {

        &:after {
          background-color: rgba($secondary-accent-color, .9);
        }
      }
     
    }
  }

  .last-galleries__item-img {
    display: block;
    margin: 0;
    padding: 0;

    img {
      @include responsive-img();
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      display: block;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($secondary-accent-color, .35);
      transition: $global-transition;
    }

  }

  .last-galleries__item-text {
    @include center-xy();
    padding: $global-padding / 4 gutter();
    z-index: 2;
    width: 100%;
  }
    
  .last-galleries__item-heading {
    @include sub-heading();
    margin-bottom: $global-margin / 10;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  .last-galleries__item-date {
    text-align: center;
    color: $light-gray;
  }
    
}

@include breakpoint(large) {

  .last-galleries__item {
    width: 50%;
  }

}