// Last News
// ==========================
//

.last-news {
  background-color: $white;
  margin-bottom: 0;
}

.last-news__item {
  padding: $global-padding / 2 gutter() / 2;
  border-bottom: 1px solid $global-border-color;
  

  &:last-child {
    border-bottom: none;
  }
}

.last-news__heading {
  @include sub-heading();
	text-align: left;
  padding: $global-padding / 3 gutter() / 2;
  color: $white;
  text-transform: uppercase;
	font-size: 2rem;
	background-color: $primary-accent-color;
}

.last-news__item-heading {
  display: flex;
  margin-bottom: $global-margin / 4;
  text-decoration: none;
}

.last-news__item-text {
  @include sub-heading();
	color: $sub-heading-color;
	text-decoration: none;
	text-transform: uppercase;
  font-size: 1.8rem;
  transition: $global-transition;
  
  &:hover {
    text-decoration: none;
    color: $primary-color;
  }
}

.last-news__item-icon {
  flex: 0 0 auto;
  margin-top: 4px;
  width: 20px;
  height: 20px;
  margin-right: gutter() / 3;

  svg {
    width: 100%;
    height: 100%;
    fill: $primary-color;
  }
}


.last-news__item-date {
  display: block;
  color: $medium-gray;
}



	

@include breakpoint(small) {

  .last-news__item-text {
    font-size: 2rem;
  }

  .last-news__heading {
		padding: $global-padding / 2 gutter() / 2;
		font-size: 2.2rem;
	}

}

@include breakpoint(large) {

  .last-news {
    margin-bottom: $global-margin;
  }

}