.results-table {
  width: 100%;
  // margin-bottom: $global-margin / 1.5;
  overflow-x: auto;
  background-color: $primary-color;

  &--total {
    background-color: $dark-gray;

    .results-table__cell {
      padding: $global-padding / 3 gutter() / 2;
      font-weight: $global-weight-bold;
      font-size: 1.7rem;
      // text-transform: uppercase;
    }
  }
  
}

.results-table__item {
  width: 100%;
  border-collapse: collapse;
  color: $white;
  

  // &--total {
  //   border-top: 1px solid $white;
  //   font-size: 1.8rem;

  //   .results-table__row {
  //     width: 50%;
  //   }
  // }
}

.results-table__row {

  // &:last-child {
  //   border-top: 1px solid $white;
  //   font-size: 1.8rem;
    

  //   .results-table__cell {
  //     padding: $global-padding / 3 gutter() / 2;
  //   }
  // }
}

.results-table__cell {
  padding: $global-padding / 5.5 gutter() / 2;
  
  // &:last-child {
  //   min-width: 50px;
  // }

  &:first-child {
    width: 55%;
  }

  &:last-child {
    text-align: right;
  }
}



