// Scaffolding
//==========================
//

* {
  box-sizing: $global-sizing;    
}


html {
  font-size: $html-font-size;
}

body {
  // position: relative;
  margin: 0;
  padding: 0;
  // padding-bottom: 56px;

  font-family: $body-font-family;
 
  font-size: $global-font-size;
  line-height: $global-line-height;
  font-style: normal;
  font-weight: $global-weight-normal;
  color: $body-font-color;

  @if ($body-antialiased) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

  // background: $body-background;
  // background: $dark-gray url(../img/header-bg.jpg) 0 0 no-repeat fixed;
  // background-size: cover;

  // &:before {
  //   content: '';
  //   display: block;
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  //   background: $dark-gray url(../img/header-bg.jpg) 0 0 no-repeat fixed;
  //   background-size: cover;
  // }

  // &:before {
  //   content: '';
  //   display: block;
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  //   background: $medium-gray url(../img/header-bg.jpg) center top  no-repeat fixed;
  //   background-size: cover;
  // }
}

// @include breakpoint(medium) {

//   body {
//     padding-bottom: 0;
//   }

// }




