// Beats Events
// ==========================
//

.beats-events {
  background-color: $white;
  margin-bottom: $global-margin;
}


.beats-events__heading {
  @include sub-heading();
	text-align: left;
  padding: $global-padding / 3 gutter() / 2;
  color: $white;
  text-transform: uppercase;
	font-size: 2rem;
	background-color: $secondary-accent-color;
}

.beats-events__item {
  display: flex;
  padding: $global-padding / 2 gutter() / 2;
  border-bottom: 1px solid $global-border-color;
  cursor: pointer;
  

  &:last-child {
    border-bottom: none;
  }
}



.beats-events__item-text {
  @include sub-heading();
  margin-top: 3px;
	color: $sub-heading-color;
	text-decoration: none;
	text-transform: uppercase;
  font-size: 1.8rem;
  transition: $global-transition;
  
  &:hover {
    text-decoration: none;
    color: $primary-color;
  }
}

.beats-events__item-icon {
  flex: 0 0 auto;
  // margin-top: 2px;
  width: 30px;
  height: 30px;
  margin-right: gutter() / 3;

  svg {
    width: 100%;
    height: 100%;
    fill: $primary-color;
  }
}



@include breakpoint(small) {

  .last-news__item-text {
    font-size: 2rem;
  }

  .beats-events__heading {
    padding: $global-padding / 2 gutter() / 2;
    font-size: 2.2rem;
  }

}
