// Upcomming Events
// ==========================
//

.upcomming-events {
  width: 100%;
  margin-bottom: $global-margin;
  background-color: $white;
}

.upcomming-events__heading {
  @include sub-heading();
  padding: $global-padding / 3 gutter() / 2;
  color: $white;
  text-transform: uppercase;
  font-size: 2rem;
  background-color: $primary-accent-color;
}


.upcomming-events__item {
  padding: $global-padding / 3 gutter() / 2;
  border-bottom: 1px solid $global-border-color;


  &:last-child {
    border-bottom: 0;
  }
}

.upcomming-events__date {
  display: flex;
  margin-right: gutter() / 2;
  align-items: center;
  justify-content: center;
  margin-bottom: $global-margin / 2;
	padding: $global-padding / 4 gutter() / 2;
	text-align: center;
	background-color: $secondary-accent-color;
}

.upcomming-events__year {
  @include sub-heading();
  margin-right: gutter() / 3;
	display: block;
	color: $white;
	font-weight: $global-weight-extra-bold;
	font-size: 2.2rem;
	line-height: $heading-line-height;
}

.upcomming-events__day {
  display: block;
  
	color: $white;
	font-weight: $global-weight-extra-bold;
	font-size: 3rem;
	line-height: $heading-line-height;
}

.upcomming-events__month {
  display: block;
  margin-right: gutter() / 3;
  color: $white;
  font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: normal;
  font-family: $sub-heading-font-family;
  line-height: $heading-line-height;
}

.upcomming-events__item-content {
  flex: 1 1 auto;
}


.upcomming-events__event-name {
  display: block;
  margin-bottom: $global-margin / 2;
  font-size: 2.4rem;
  text-align: center;
  font-weight: $global-weight-bold;
  line-height: $heading-line-height;
}

.upcomming-events__btns-group {
  justify-content: center;
}

@include breakpoint(small) {

  .upcomming-events__heading {
    font-size: 2.2rem;
    padding: $global-padding / 2 gutter() / 2;
  }

  .upcomming-events__event-name {
    margin-bottom: $global-margin / 2;
    font-size: 3rem
  }
}

@include breakpoint(large) {

  .upcomming-events__item {
    display: flex;
    align-items: center;
  }

  .upcomming-events__event-name {
    text-align: left;
  }

  .upcomming-events__btns-group {
    justify-content: flex-start;
  }

  .upcomming-events__date {
    display: block;
    width: 110px;
    margin-right: gutter() / 2;
    margin-bottom: 0;
    flex: 0 0 auto;
    padding: $global-padding / 4 gutter() / 2;
    text-align: center;
  }
  
  .upcomming-events__year {
    margin-bottom: $global-margin / 10;
    margin-right: 0;
    font-size: 2rem;
  }
  
  .upcomming-events__day {
    font-size: 4.4rem;
    line-height: 1;
  }
  
  .upcomming-events__month {
    margin-right: 0;
  }
}