// Upcomming Event Item
// ==========================
//

.upcomming-event-item {
  margin-bottom: $global-margin;
  background-color: $white;

  // &:nth-child(odd) {

  //   .upcomming-event-item__heading {
  //     background-color: $primary-color;
  //   }
  // }
}

.upcomming-event-item__heading {
  @include sub-heading();
  padding: $global-padding / 3 gutter() / 2;
  color: $white;
  text-transform: uppercase;
  font-size: 2rem;
  background-color: $secondary-accent-color;
}

.upcomming-event-item__container {
  padding: $global-padding / 3 gutter() / 2;
}

// .upcomming-event-item__teams {
//   display: block;
//   margin-bottom: $global-margin / 4;
//   font-size: 2.2rem;
//   text-align: center;
//   font-weight: $global-weight-bold;
//   line-height: $heading-line-height;
// }

.upcomming-event-item__descr {
  display: block;
  margin: 0;
  text-align: center;
  margin-bottom: $global-margin / 2;
}

.upcomming-event-item__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $global-margin / 2;
  padding: $global-padding / 4 gutter() / 2;
	text-align: center;
	background-color: $primary-accent-color;
}

.upcomming-event-item__info-container {
  display: flex;
  align-items: center;
  margin-right: gutter() / 2;
  padding-right: gutter() / 2;
  border-right: 1px solid $global-border-color;

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border: none;
  }
}

.upcomming-event-item__info-counter {
  display: block;
  margin-right: gutter() / 3;
	color: $white;
	font-weight: $global-weight-extra-bold;
  font-size: 3rem;
  text-align: center;
	line-height: $heading-line-height;
}

.upcomming-event-item__info-text {
  display: block;
  color: $white;
  font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: normal;
  font-family: $sub-heading-font-family;
  line-height: $heading-line-height;
}

.upcomming-event-item__btns-group {
  justify-content: center;
}

@include breakpoint(small) {

  .upcomming-event-item__heading  {
    font-size: 2.2rem;
    padding: $global-padding / 2 gutter() / 2;
  }

  // .upcomming-event-item__teams {
  //   font-size: 2.4rem;
  //   text-align: left;
  // }

  .upcomming-event-item__text {
    flex: 1 1 auto;
  }

  .upcomming-event-item__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .upcomming-event-item__info {
    display: block;
    width: 180px;
    flex: 0 0 auto;
    margin-bottom: 0;
    margin-right: gutter();
  }

  .upcomming-event-item__descr {
    text-align: left;
  }

  .upcomming-event-item__info-container {
    justify-content: center;
    margin-right: 0;
    padding-right: 0;
    border: none;
    margin-bottom: gutter() / 2;
    padding-bottom: gutter() / 2;
    border-bottom: 1px solid $global-border-color;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }

  }

  .upcomming-event-item__btns-group {
    justify-content: flex-start;
  }



}

@include breakpoint(large) {
  
  .upcomming-event-item__info-counter {
    font-size: 4.4rem;
    line-height: 1;
  }
}