// Forms
// ==========================
//

@mixin input-field($field-width: 100%) {
	width: $field-width;
	box-sizing: border-box;
	border: none;
	outline: none;
	border-radius: 0;
	
	&:hover,
	&:focus {
		outline: none;
	}
	
}




